html
  head
  body
    h1= message
    form(method='POST' action='/spaces')
      div.form-group
        label(for='name') Name:
        input#name.form-control(type="text", placeholder="name of space", name="name")
      div.form-group
        label(for='description') Description:
        input#description.form-control(type="text", placeholder="describe the space", name="description")
      div.form-group
        label(for='price') Price:
        input#price.form-control(type="text", placeholder="price per night", name="price")
      button.btn.btn-primary.post-space(type="submit") List my Space
